name: Release new Version

on:
    workflow_dispatch:

jobs:
    release:
        name: Release
        if: github.repository == 'apollographql/apollo-ai-apps-client'
        runs-on: ubuntu-latest
        permissions:
            contents: write # to create release (changesets/action)
            issues: write # to post issue comments (changesets/action)
            pull-requests: write # to create pull request (changesets/action)
            id-token: write # to use OpenID Connect token for provenance (changesets/action)
        steps:
            - uses: actions/checkout@v4

            - name: Setup Node.js 20.x
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install dependencies
              shell: bash
              run: npm ci

            - name: Create Release Pull Request or Publish to npm
              uses: changesets/action@v1
              with:
                  publish: npm run build
                  version: changeset:version
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  NPM_CONFIG_PROVENANCE: true
