name: Release new Version

on:
    workflow_dispatch:

permissions:
    contents: write
    id-token: write # Required for OIDC

jobs:
    release:
        name: Release
        if: github.repository == 'apollographql/apollo-ai-apps-client'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Append NPM token to .npmrc
              run: |
                  cat << EOF > "$HOME/.npmrc"
                      provenance=true
                      //registry.npmjs.org/:_authToken=$NPM_TOKEN
                  EOF
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Setup Node.js 20.x
              uses: actions/setup-node@v4
              with:
                  node-version: 20.x

            - name: Install dependencies
              shell: bash
              run: npm ci

            - name: Build
              shell: bash
              run: npm run build

            # - name: Test
            #   shell: bash
            #   run: npm run test

            # - name: Configure Git
            #   run: |
            #       git config --global user.name GitHub Actions
            #       git config user.email github-actions@github.com

            # - uses: knope-dev/action@v2.1.0
            #   with:
            #       version: 0.21.5

            # - run: knope release
            #   env:
            #       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

            - name: Publish to npm
              shell: bash
              run: npm publish --provenance
